<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/movie.jpg" alt="movieposter" width="300px">
        </div>
        <div class="col-md-4">
            Nearby Theatre:
            <div style="text-align: center">
                <a routerLinkActive="active" class="btn btn-outline-info" routerLink="/select-ticket-number" [routerLink]="['/hall', 'inox']">Inox</a><br>
                <a routerLinkActive="active" class="btn btn-outline-info" routerLink="/select-ticket-number" [routerLink]="['/hall', 'carnival']">Carnival</a>
            </div>
        </div>
    </div>
    </div>