
<div class="container-fluid" style="text-align:center">
    <div class="row">
        <div class="col-md-4">
            <div style="text-align: center">
                A
            </div>
            <input type="checkbox"  (click)="countSeat()"  id="a1" [disabled]='dict["a1"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a2" [disabled]='dict["a2"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a3" [disabled]='dict["a3"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a4" [disabled]='dict["a4"]'><br>
            <input type="checkbox"  (click)="countSeat()"  id="a5" [disabled]='dict["a5"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a6" [disabled]='dict["a6"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a7" [disabled]='dict["a7"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a8" [disabled]='dict["a8"]'><br>
            <input type="checkbox"  (click)="countSeat()"  id="a9" [disabled]='dict["a9"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a10" [disabled]='dict["a10"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a11" [disabled]='dict["a11"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a12" [disabled]='dict["a12"]'><br>
            <input type="checkbox"  (click)="countSeat()"  id="a13" [disabled]='dict["a13"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a14" [disabled]='dict["a14"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a15" [disabled]='dict["a15"]'>
            <input type="checkbox"  (click)="countSeat()"  id="a16" [disabled]='dict["a16"]'>
        </div>
        <div class="col-md-4">
            <div style="text-align: center">
                B
            </div>
            <input type="checkbox" (click)="countSeat()" id="b1" [disabled]='dict["b1"]'>
            <input type="checkbox" (click)="countSeat()" id="b2" [disabled]='dict["b2"]'>
            <input type="checkbox" (click)="countSeat()" id="b3" [disabled]='dict["b3"]'>
            <input type="checkbox" (click)="countSeat()" id="b4" [disabled]='dict["b4"]'><br>
            <input type="checkbox" (click)="countSeat()" id="b5" [disabled]='dict["b5"]'>
            <input type="checkbox" (click)="countSeat()" id="b6" [disabled]='dict["b6"]'>
            <input type="checkbox" (click)="countSeat()" id="b7" [disabled]='dict["b7"]'>
            <input type="checkbox" (click)="countSeat()" id="b8" [disabled]='dict["b8"]'><br>
            <input type="checkbox" (click)="countSeat()" id="b9" [disabled]='dict["b9"]'>
            <input type="checkbox" (click)="countSeat()" id="b10" [disabled]='dict["b10"]'>
            <input type="checkbox" (click)="countSeat()" id="b11" [disabled]='dict["b11"]'>
            <input type="checkbox" (click)="countSeat()" id="b12" [disabled]='dict["b12"]'><br>
            <input type="checkbox" (click)="countSeat()" id="b13" [disabled]='dict["b13"]'>
            <input type="checkbox" (click)="countSeat()" id="b14" [disabled]='dict["b14"]'>
            <input type="checkbox" (click)="countSeat()" id="b15" [disabled]='dict["b15"]'>
            <input type="checkbox" (click)="countSeat()" id="b16" [disabled]='dict["b16"]'>
        </div>
        <div class="col-md-4">
            <div style="text-align: center">
                C
            </div>
            <input type="checkbox" (click)="countSeat()" id="c1" [disabled]='dict["c1"]'>
            <input type="checkbox" (click)="countSeat()" id="c2" [disabled]='dict["c2"]'>
            <input type="checkbox" (click)="countSeat()" id="c3" [disabled]='dict["c3"]'>
            <input type="checkbox" (click)="countSeat()" id="c4" [disabled]='dict["c4"]'><br>
            <input type="checkbox" (click)="countSeat()" id="c5" [disabled]='dict["c5"]'>
            <input type="checkbox" (click)="countSeat()" id="c6" [disabled]='dict["c6"]'>
            <input type="checkbox" (click)="countSeat()" id="c7" [disabled]='dict["c7"]'>
            <input type="checkbox" (click)="countSeat()" id="c8" [disabled]='dict["c8"]'><br>
            <input type="checkbox" (click)="countSeat()" id="c9" [disabled]='dict["c9"]'>
            <input type="checkbox" (click)="countSeat()" id="c10" [disabled]='dict["c10"]'>
            <input type="checkbox" (click)="countSeat()" id="c11" [disabled]='dict["c11"]'>
            <input type="checkbox" (click)="countSeat()" id="c12" [disabled]='dict["c12"]'><br>
            <input type="checkbox" (click)="countSeat()" id="c13" [disabled]='dict["c13"]'>
            <input type="checkbox" (click)="countSeat()" id="c14" [disabled]='dict["c14"]'>
            <input type="checkbox" (click)="countSeat()" id="c15" [disabled]='dict["c15"]'>
            <input type="checkbox" (click)="countSeat()" id="c16" [disabled]='dict["c16"]'>
        </div>

    </div>
    
</div>



<br><br>

